#screen {
    background-color: white;
}

.container h1 {
    font-family: 'Courier New';
    font-size: 4em;
    padding-bottom: 2%;
    color: var(--gray);
}

.container p {
    font-family: 'Consolas';
    font-size: 1.25em;
    text-align: left;
    padding-bottom: 2%;
    line-height: 1.95em;
}